    <header class="header">
      <div class="branding">
        <label class="lbl_branding">Super Team Picker</label>
      </div>
      <nav class="nav">
        <ul class="menu">
          <li><a href="/cohorts">Home</a></li>
          <li><a href="/cohorts">Cohorts</a></li>
          <li><a href="/cohorts/new">New Cohort</a></li>
        </ul>
      </nav>
    </header>