    <header class="header">
      <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand col-1" href="#">Super Team Picker</a>
        <ul class="navbar-nav col-11 justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="cohorts">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cohorts">Cohorts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cohorts/new">New Cohort</a>
          </li>
        </ul>
      </nav>
    </header>